.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogItems {
  padding: 10px;
  color: white;
}

.dialog .active {
  color: gold;
}

.dialog {
}

.messages {
  padding: 10px;
}

.message {
  color: white;
}
